* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #ddd;
}
body div {
  padding: 10px;
}
body div.siteHeader {
  display: flex;
  align-items: center;
}
body div.siteHeader header {
  color: #000;
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}
body div header {
  margin: 10px 10px 10px;
}
body div header h1 {
  color: #333;
  font-size: 28px;
}
body div table {
  border-collapse: collapse;
  border: 2px solid #000;
  font-size: 16px;
}
body div table tbody tr {
  width: 50vw;
}
body div table tbody tr.updated {
  background-color: #ffff4d;
}
body div table tbody tr th {
  background-color: #bbb;
  width: 10vw;
  border: 2px solid #000;
  margin: 0;
  padding: 5px;
}
body div table tbody tr td {
  width: 10vw;
  margin: 0;
  padding: 5px;
  border-style: solid;
  border-color: #000;
  border-width: 1px 2px;
}
body div table tbody tr td.positive {
  background-color: #4dff4d;
}
body div table tbody tr td.negative {
  background-color: #ff1a1a;
}
body a {
  color: #337ab7;
  text-decoration: none;
  font-style: italic;
}
body a.active {
  color: #003673;
}
body a.nav {
  margin-left: 20px;
}
